{{ define "main" }}
<article class="person-profile">
  <header class="person-card person-highlight">
    <a class="image avatar">
      {{ with .Params.image }}
        <img src="{{ . | relURL }}" alt="{{ $.Title }}">
      {{ else }}
        <img src="/uploads/placeholder.png" alt="">
      {{ end }}
    </a>
    <div class="content">
      <h1>{{ .Title }}</h1>
      {{ with .Params.role }}<div class="role">{{ . }}</div>{{ end }}
      {{ with .Params.short }}<p class="bio">{{ . }}</p>{{ end }}
      {{ with .Params.email }}
        <div class="person-email">{{ replace (replace . "@" " (at) ") "." " (dot) " }}</div>
      {{ end }}
      <div class="person-links">
        {{ with .Params.website }}<a href="{{ . }}" target="_blank" rel="noopener"><span class="icon">🔗</span></a>{{ end }}
        {{ with .Params.scholar }}<a href="{{ . }}" target="_blank" rel="noopener"><span class="icon">🎓</span></a>{{ end }}
        {{ with .Params.github  }}<a href="{{ . }}" target="_blank" rel="noopener"><span class="icon">🐙</span></a>{{ end }}
        {{ with .Params.cv      }}<a href="{{ . | relURL }}" target="_blank" rel="noopener">CV</a>{{ end }}
      </div>
    </div>
  </header>

  {{ with .Params.bio }}
    <section class="bio">
      {{ . | markdownify }}
    </section>
  {{ end }}

  {{ if .Content }}
    <section class="content">
      {{ .Content }}
    </section>
  {{ end }}
</article>
{{ end }}
