{{ define "main" }}
<article class="person-profile">
  <header class="person-card">
    <a class="image avatar">
      {{ with .Params.image }}
        <img src="{{ . | relURL }}" alt="{{ $.Title }}">
      {{ else }}
        <img src="/uploads/placeholder.png" alt="{{ $.Title }}">
      {{ end }}
    </a>
    <div class="content">
      <h1>{{ .Title }}</h1>
        {{ with .Params.role }}<div class="role">{{ . }}</div>{{ end }}

        {{ with .Params.co_supervised_by }}
          <div class="co-supervised">(Co-supervised by {{ . }})</div>
        {{ end }}


      <div class="person-links">
        {{ with .Params.website }}<a href="{{ . }}" target="_blank" rel="noopener" aria-label="Website">{{ partial "icons/link.svg" . }}</a>{{ end }}
        {{ with .Params.scholar }}<a href="{{ . }}" target="_blank" rel="noopener" aria-label="Google Scholar">{{ partial "icons/scholar.svg" . }}</a>{{ end }}
        {{ with .Params.github  }}<a href="{{ . }}" target="_blank" rel="noopener" aria-label="GitHub">{{ partial "icons/github.svg" . }}</a>{{ end }}
        {{ with .Params.orcid   }}<a href="{{ . }}" target="_blank" rel="noopener" aria-label="ORCID">{{ partial "icons/orcid.svg" . }}</a>{{ end }}
        {{ with .Params.linkedin   }}<a href="{{ . }}" target="_blank" rel="noopener" aria-label="Linkedin">{{ partial "icons/linkedin.svg" . }}</a>{{ end }}
        {{ with .Params.email   }}<a href="mailto:{{ . }}" aria-label="Email">{{ partial "icons/email.svg" . }}</a>{{ end }}
      </div>

      {{ if or .Params.phd_university .Params.phd_date }}
        <p class="pp-degree"><strong>PhD:</strong>{{ with .Params.phd_university }} {{ . }}{{ end }}{{ if and .Params.phd_university .Params.phd_date }},{{ end }}{{ with .Params.phd_date }} {{ . }}{{ end }}</p>
      {{ end }}
      {{ if or .Params.bs_university .Params.bs_date }}
        <p class="pp-degree"><strong>BS:</strong>{{ with .Params.bs_university }} {{ . }}{{ end }}{{ if and .Params.bs_university .Params.bs_date }},{{ end }}{{ with .Params.bs_date }} {{ . }}{{ end }}</p>
      {{ end }}
    </div>
  </header>

  {{ with .Params.experience }}
    <section class="pp-experience">
      <h2>Other experience</h2>
      {{ . | markdownify }}
    </section>
  {{ end }}

  {{ with .Params.bio }}
    <section class="pp-bio">
      <h2>Bio</h2>
      {{ . | markdownify }}
    </section>
  {{ end }}

  {{ if .Content }}
    <section class="pp-content">
      {{ .Content }}
    </section>
  {{ end }}
</article>
{{ end }}
