<section id="banner">
  <div class="content">
    <h1>
      {{/* Prefer params.banner.title if you set it; else use global site title */}}
      {{ with site.Params.banner.title }}
        {{ . | safeHTML }}
      {{ else }}
        {{ site.Title | safeHTML }}
      {{ end }}
    </h1>
  <div class="embed-frame embed-main2">
  <iframe
    src='{{ "embeds/main2/index.html?v=1" | absURL }}'
    title="Weiss Lab Menu"
    loading="lazy"
    referrerpolicy="no-referrer"
    sandbox="allow-scripts allow-same-origin"
  ></iframe>
</div>
<!-- DEBUG: end -->

  </div>
</section>