{{ define "main" }}
    {{ partial "banner.html" . }}
    {{ partial "research-home.html" . }}
    {{ partial "people-section.html" . }}
    {{ partial "resources-section.html" . }}
    {{ partial "pubs-zotero.html" . }}
    {{ partial "contact-section.html" . }}
    {{ partial "spotlight" site.Data.spotlight1 }}
    {{ partial "spotlight" site.Data.spotlight2 }}
    {{ partial "spotlight" site.Data.spotlight3 }}
    {{ partial "gallery" site.Data.gallery }}
    {{ partial "items" site.Data.items }}
    {{ partial "elements" . }}
    {{ partial "elements_reference" . }}
  	{{ partial "footer" . }}
{{ end }}
